/*
 *  Copyright FUJITSU LIMITED 2018
 */
@charset "utf-8";

/*************************
 Button common
*************************/

/* base */
button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

/* Label size */
button span {
	font-size: 10pt;
}

/* Display area */
.button_main_area_class {
	display: block;
	margin: 6px 0 0 0;
}

/* Changeable-width button（normal） */
.button_normal_class {
	overflow: visible;
	margin-top:3px;
	padding: 0;
	border: 0;
	color: #333333;
	font-size: 10pt;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
}

/*Hack for Firefox*/
.button_normal_class, x:-moz-any-link{
		margin: 0 -4px 0 0;
}

/*Hack for IE7*/
*:first-child+html .button_normal_class {
	margin-right: 6px;
}

/* Label(normal) */
span.button_content_class {
	display: inline-block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 8px 0 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left 0px;
}

/* Button right part(normal) */
span.button_right_part_class {
	display: inline-block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right 0px;
}

/* Changeable-width button（hover） */
.button_over_class {
	overflow: visible;
	margin: 0 1px 0 0;
	padding: 0;
	border : 0;
	color: #175db5;
	font-size: 10pt;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
}

/*Hack for Firefox*/
.button_over_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/*Hack for IE7*/
*:first-child+html .button_over_class {
	margin-right: 6px;
}

/* Label(hover) */
.button_over_class span.button_content_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 8px 0 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -30px;
}

/*Button right part(hover)*/
.button_over_class span.button_right_part_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -30px;
}


/* Changeable-width button（mouse down） */
.button_down_class {
	overflow: visible;
	margin: 0 1px 0 0;
	padding: 0;
	border: 0;
	color: #175db5;
	font-size: 10pt;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
}

/*Hack for Firefox*/
.button_down_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/* Hack for IE7 */
*:first-child+html .button_down_class {
	margin-right: 6px;
}

/* Label(mouse down) */
.button_down_class span.button_content_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 8px 0px 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -60px;
}

/* Button right part(down) */
.button_down_class span.button_right_part_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -60px;
}

/* Changeable-width button（mouse down） */
.button_disabled_class {
	overflow: visible;
	cursor: default;
	margin-top:3px;
	padding: 0;
	border: 0;
	color: #777777;
	font-size: 10pt;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
}

/*Hack for Firefox*/
.button_disabled_class, x:-moz-any-link{
	margin: 0 -4px 0 0;
}

/* Hack for IE7 */
*:first-child+html .button_disabled_class {
	margin-right: 6px;
}

/* Label(mouse down) */
.button_disabled_class span.button_content_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 8px 0px 12px;
	white-space: nowrap;
	background: url(../img/button/btn_var_bg.gif) no-repeat left -120px;
}

/* Button right part(down) */
.button_disabled_class span.button_right_part_class {
	display: block;
	min-height: 21px;
	line-height: 21px;
	padding: 0 4px 0 0;
	white-space: nowrap;
	background: url(../img/button/btn_var_right.gif) no-repeat right -120px;
}

.connectivity_tests_column .button_right_part_class {
	margin-right: 0.75em;
}

.oscm_app_button {
    border:1px solid #7D7D7D; -webkit-border-radius: 3px;
        -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 3px 3px 3px 3px;
    text-decoration:none;
    display:inline-block; color: #000000;
    background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8E3E6));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #D8E3E6);
    background-image: -moz-linear-gradient(top, #FFFFFF, #D8E3E6);
    background-image: -ms-linear-gradient(top, #FFFFFF, #D8E3E6);
    background-image: -o-linear-gradient(top, #FFFFFF, #D8E3E6);
    background-image: linear-gradient(to bottom, #FFFFFF, #D8E3E6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#D8E3E6);
}

.oscm_app_button:hover {
   cursor: inherit;
   border:1px solid #7D7D7D;
   background-color: #EDEDED; background-image: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#C4C4C4));
   background-image: -webkit-linear-gradient(top, #EDEDED, #C4C4C4);
   background-image: -moz-linear-gradient(top, #EDEDED, #C4C4C4);
   background-image: -ms-linear-gradient(top, #EDEDED, #C4C4C4);
   background-image: -o-linear-gradient(top, #EDEDED, #C4C4C4);
   background-image: linear-gradient(to bottom, #EDEDED, #C4C4C4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EDEDED, endColorstr=#C4C4C4);
}

.oscm_app_button:focus {
   border:1px solid #7D7D7D;
   background-color: #C4C4C4; background-image: -webkit-gradient(linear, left top, left bottom, from(#C4C4C4), to(#EDEDED));
   background-image: -webkit-linear-gradient(top, #C4C4C4, #EDEDED);
   background-image: -moz-linear-gradient(top, #C4C4C4, #EDEDED);
   background-image: -ms-linear-gradient(top, #C4C4C4, #EDEDED);
   background-image: -o-linear-gradient(top, #C4C4C4, #EDEDED);
   background-image: linear-gradient(to bottom, #C4C4C4, #EDEDED);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C4C4C4, endColorstr=#EDEDED);
}

.oscm_app_button:disabled,
.oscm_app_button[disabled]{
    border:1px solid #7D7D7D; -webkit-border-radius: 3px;
        -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
    background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -ms-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#F2F2F2);
    color: #666666;
}

.oscm_app_button_offset {
    display: inline;
	margin: 5px;
}

.oscm_app_button_offset .oscm_app_button {
	margin: 3px;
}