# Ignore files
*.bak
*.class
*.obj
*.tmp
*.iml
*~
*.jar
*.zip
**zip**

# Ignore folders
Debug/
Release/
bin/
build/
debug/
release/
temp/
logs/
.settings/
.idea/

oscm-billing-external-interfaces/javares/
oscm-common/javares/
oscm-extsvc-internal/javares/
oscm-extsvc-notification/javares/
oscm-extsvc-provisioning/javares/
oscm-psp-extsvc/javares/
