/* ---- 10.1.1 Regular Navigation Buttons	---- ---- ---- ---- ---- ---- ---- */

/*  standard button definitions */
.button, .buttonDisabled, .buttonDisabled span, .button span {
  background: $mp_button_sprite no-repeat;
  margin: 0 4px 0 0;
  padding: 0 0 0 4px;
  display: block;
  float: left;
  border: 0;
  font-size: 12px;
  font: 400 12px/190% $font-family-sans-serif;
  white-space: nowrap;
}

.button {
  background-position: left -290px;
  cursor: pointer;
  &:visited {
    background-position: left -290px;
  }
  &:active {
    background-position: left -320px;
  }
}

.buttonDisabled {
  background-position: left -411px;
}

/* left hand side */
.button span, .buttonDisabled span {
  padding: 2px 12px 3px 8px;
  margin: 0 -4px 0 0;
  float: left;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

.button span {
  color: $color_fiord_approx;
  background-position: right -290px;
  cursor: pointer;
}

.button:visited span {
  background-position: right -290px;
}

.button:active span {
  background-position: right -320px;
}

.buttonDisabled span {
  color: $color_dove_gray_approx;
  background-position: right -411px;
  text-decoration: none;
  cursor: default;
}

.jqUpload .hover span.button span, .button:hover span {
  background-position: right -320px;
}

.jqUpload .hover span.button, .button:hover {
  background-position: left -320px;
  text-decoration: none;
}

/* ---- 10.1.2 Big Buttons	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

/*  big button definitions */
.bigbutton, .bigbuttonDisabled, .bigbuttonDisabled span, .bigbutton span {
  display: block;
  background: $mp_button_sprite no-repeat;
  margin: 0 10px 0 0;
  padding: 0 0 0 4px;
  float: left;
  border: 0;
  white-space: nowrap;
  font: 400 24px/180% $font-family-sans-serif;
}

.bigbutton {
  background-position: left 0;
  cursor: pointer;
  /* right edge */
  &:visited {
    background-position: left 0;
    text-decoration: none;   
  }
  &:hover {
    background-position: left -60px;
    text-decoration: none;
  }
  &:active {
    background-position: left -120px;
  }
}

.bigbuttonDisabled {
  background-position: left -231px;
}

/* left hand side */
.bigbutton span, .bigbuttonDisabled span {
  margin: 0 -4px 0 0;
  padding: 3px 14px 7px 10px;
  float: left;
}

.bigbutton span {
  color: $color_fiord_approx;
  background-position: right 0;
  cursor: pointer;
}

.bigbutton:visited span {
  background-position: right 0;
}

.bigbutton:hover span {
  background-position: right -60px;
  color: $color_mine_shaft_approx;
}

.bigbutton:active span {
  background-position: right -120px;
}

.bigbuttonDisabled span {
  background-position: right -231px;
  text-decoration: none;
  color: $color_dove_gray_approx;
  cursor: default;
}

/* Get it now button */
#buyme {
  margin: 2rem 2.5rem 1.5rem 0rem;
}

/* wrapper for button arrays */
.buttonPanel {
  margin: 4px 0 3px 10px;
  position: relative;
}

/*  button spacing for button array buttons */
.bottomButtonPanel .button {
  margin: 0 10px 0 0 !important;
}

.assignUserButton {
  float: right;
  margin-bottom: 5px;
  margin-right: -5px;
}

/* ---- 10.1.3 Link Buttons	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

input.button, a.button {
  background: $mp_icon_sprite !important;
  min-width: 80px;
  border: 1px solid $color_gray_chateau_approx !important;
  height: 27px;
  border-radius: 6px !important;
  background-position: -3px -2px !important;
  color: $color_darker_fiord_approx;
  margin-right: 10px;
}

input.button[disabled="disabled"], input.button[disabled="disabled"]:HOVER {
  background-position: right -412px !important;
  border: 1px solid !important;
  color: $color_dove_gray_approx;
  padding: 0px 10px 0px 10px;
}

input.button:HOVER, a.button:HOVER {
  background-position: -3px -81px !important;
}

a.button {
  height: 25px;
}

a.button span {
  background: transparent !important;
}

span.buttonDisabled {
  margin-right: 10px;
}

.visibleServiceTablePager span a.button {
  width: inherit !important;
}

/* ---- 10.1.4 Buttons image	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

.buttonImg {
  width: 16px;
  height: 15px;
  line-height: 14px;
  vertical-align: text-top;
  border: 0 !important;
  display: none;
  margin: 2px 4px 0 -6px;
  background: $glyphicons_halflings 0 0 no-repeat;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.buttonImg.fileUpload {
  background-position: -265px -24px;
}

/* ---- 10.1.5 Browse buttons	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
.jqUpload {
  position: relative;
  height: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  white-space: nowrap;
  margin-top: -2px; }

.jqUpload input {
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative; }

.jqUpload .output {
  display: block;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  height: 30px; }

.jqUpload .button span, .jqUpload .buttonDisabled span {
  line-height: 28px !important; }

span.upload, span.upload .option {
  background: url("../img/uploadButton.png") no-repeat scroll 0 0 transparent;
  color: #000;
  cursor: default;
  font-weight: normal;
  height: 32px;
  line-height: 24px;
  position: absolute;
  width: 100%; }

span.upload .option {
  background-position: right top;
  margin-left: 4px; }

.custom-file-label:after {
  content: "\f093";
  font-family: FontAwesome;
  cursor: pointer;
  color: $secondary-color;
  border-color: $secondary-color;
  border: 1px solid;
  background-color: #fff; }