/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
		7.3.1 Category Sidebar
		---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.categorySelectPanel {
  width: 184px;
  margin-bottom: 15px;
  background: #F8F;
  line-height: 1.2;
  background: url(../img/page/box_shadow_bottom.png) bottom left no-repeat;
  padding: 0 0 8px;
}

.categorySelectPanel p.top a {
  color: #FFF;
}

.categorySelectPanel p.top {
  margin: 0px;
  padding: 0;
  font-size: 93%;
  background: #AEB6BD left top no-repeat;
  border-bottom: 1px solid #BBB;
}

.categorySelectPanel p.top {
  display: block;
  padding: 10px 6px;
  font-weight: normal;
}

.categorySelectPanel ul {
  word-wrap: break-word;
  list-style: none;
  margin: 0px;
  margin-top: -1px;
  padding: 2px 0px 0px 0px;
  background: url(../img/category/mainmenu-li-spr182.gif) center top no-repeat;
  font-size: 93%;
}

.categorySelectPanel li ul {
  padding: 0px;
  background: #FFF;
  font-size: 100%;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #cdcdcd;
  zoom: 1;
}

.categorySelectPanel li li ul {
  background-image: none;
  border-style: none;
}

.categorySelectPanel li li {
  margin-left: 8px;
} /* indent the level 2 */
.categorySelectPanel li li li {
  margin-left: 15px;
} /* indent below the level 3 */
.categorySelectPanel li {
  display: block;
  margin: 0px;
  padding: 0px 0px 2px 0px;
  background: #FFF;
  line-height: 1.2;
}

.categorySelectPanel li a {
  color: #222;
  display: block;
  margin: 0px;
  padding: 8px 6px 8px 17px;
  background: url(../img/list_arrow.png) no-repeat;
  zoom: 1;
}

.categorySelectPanel li strong {
  font-weight: normal;
  zoom: 1;
}

.categorySelectPanel li strong.current a {
  color: #E7B51D;
  font-weight: 700;
  background: url(../img/list_arrow_selected.png) no-repeat;
}

.categorySelectPanel li strong.current {
  display: block;
} /* menu selected sign */
.categorySelectPanel li.selectedCategory li strong.current {
  margin-right: 0px;
}

.categorySelectPanel li.selectedCategory li.selectedCategory>a {
  margin: 0px 2px;
  background-color: #e5e5e5;
  border: none;
} /* menu selected sign */
.categorySelectPanel li.selectedCategory li strong.current {
  background: #DDD url(../img/list_arrow.png) 0px -448px no-repeat;
}

.categorySelectPanel li.selectedCategory li.selectedCategory strong.current {
  margin: 0px 0px 0px 1px;
  padding-left: 16px;
}

.categorySelectPanel li.selectedCategory li {
  background-image: none;
}

.categorySelectPanel li.selectedCategory li>strong.current {

} /* menu selected sign */
.categorySelectPanel li:last-child {
  background: #FFF
}

.categorySelectPanel li:last-child a {
  padding-bottom: 12px;
}

.categorySelectPanel li.selectedCategory:last-child.selectedCategory strong.current {

}