/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
7.6 Pagina Navigation
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* alignment fixes for IE7  */
*:first-child+html div.pagenate div.innerblock strong {
  display: inline-block;
}

*:first-child+html div.pagenate div.innerblock a {
  display: inline-block;
}

*:first-child+html div.pagenate div.innerblock li {
  line-height: 1.2em;
}

*:first-child+html div.pagenate div.innerblock ul {
  margin-left: 10px;
}

*:first-child+html div.pagenate div.pagingBar * {
  vertical-align: middle;
}

/* paging bar wrapper */
div.pagenate div.pagingBar {
  padding: 20px 9px;
  width: 761px;
  background-color: $white;
  border: 1px solid #CCC;
  border-left: none;
  border-right: none;
}

/* paging bar content block */
div.pagenate div.innerblock {
  margin-bottom: 1em;
}

div.pagenate div.innerblock p {
  display: inline;
}

/* block wrapper for sort drop down list and services per page options */
div.pagenate div.pagingBar div.pagingOptions {
  float: right;
  margin-right: 10px;
}

/* services per page selector label */
div.pagingOptions p {
  margin-right: 5px;
}

/* drop down list of sorting options */
.sortingCombo {
  background-color: $white;
  border: 1px solid $gray;
  margin: 2px 10px;
}

#navbarSortToggleUp, #navbarSortToggleDown {
  font-size: 1.2em;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
		7.6.1 Pagina & Services Per Page Buttons
		---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/*
			ul.pagingElement represents the page number selectors
			div.pagingOptions ul|li represents the services per page selectors
		*/
ul.pagingElement, div.pagingOptions ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

ul.pagingElement li, div.pagingOptions li {
  list-style: none;
  display: inline;
}

ul.pagingElement li *, div.pagingOptions li * {
  padding: 8px 5px;
  border: solid 1px;
}

/* default selector buttons */
ul.pagingElement li a {
  background: #F5F6F7;
  border: solid 1px #E5E5E5;
  color: #999;
}

div.pagingOptions li a {
  background: #F5F6F7;
  border: solid 1px #E5E5E5;
  color: #999;
}

@media ( max-width : 767px) {
  .bigDisplay {
    display: none;
  }
  .smallDisplay {
    display: inline-block;
  }
}

@media ( min-width : 768px) {
  .bigDisplay {
    display: inline-block;
  }
  .smallDisplay {
    display: none;
  }
}

.pagingPanel {
  margin-left: 0px;
  margin-bottom: 5px;
}

.pagerListInfo {
  font-size: 1rem;
  padding: .375rem .75rem;
  line-height: 1.5rem;
}

.serviceSorting {
  padding: 0rem;
}

.pagingNofServices {
  margin-right: 0.1rem;
}

.fa-arrow-left {
  margin-right: 0.2rem;
}

/* chosen selector button */
ul.pagingElement li strong.current, div.pagingOptions li strong.current {
  background: $white none;
  color: #000000;
  border: solid 1px #E8E8E8;
  font-weight: normal;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
7.6.2 Pagina Next / Previous Buttons
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
div.pagenate div.pagingBar p.disabled {
  color: #ccc;
}

div.pagenate div.pagingBar .next, div.pagenate div.pagingBar .previous {
  text-decoration: none;
  margin: 5px;
}

div.pagenate div.pagingBar .previous {
  margin-left: 10px;
}
