/*  table headers */
.rowTitle th {
  @include box-sizing(border-box);
  height: 30px;
  margin: 0;
  text-align: left;
  background: $rich_table_bg_repeat repeat-x;
  vertical-align: top;
}

.rowTitle th:hover {
  background: $rich_table_hover repeat-x;
  color: $color_dove_gray_approx;
}

.rowTitle th>div {
  padding: 2px 0;
}

.rowTitle th img {
  margin: 3px 5px 0 0;
  width: 13px;
  height: 13px;
}

/* float fix for table sorting icons */
.tablePanel div, .extdt-innerdiv div {
  position: relative;
}

/* table header sorting icons */
img[src$="sort"] {
  background: none;
}

img[src$="sortAscending"] {
  background: transparent $mp_icon_sprite no-repeat scroll 0 -437px;
}

img[src$="sortDescending"] {
  background: transparent $mp_icon_sprite no-repeat scroll -14px -437px;
}

/* colors for alternating rows in data tables */
.rowEven {
  padding-left: 10px;
  background: $color_gallery_approx;
}

.rowOdd {
  padding-left: 10px;
  background: $white;
}

.wrapColumns .shortenedText span {
  white-space: nowrap !important;
}

.wrapColumns .extdt-cell-div {
  white-space: normal;
}

.wrapColumns span {
  white-space: pre-wrap !important;
}

.column-break {
  &-operation {
    min-width: 74px;
    max-width: 150px;
  }

  &-subscription {
    min-width: 109px;
    max-width: 150px;
  }

  &-executionDate {
    min-width: 146px;
    max-width: 150px;
  }

  &-userId {
    min-width: 101px;
    max-width: 150px;
  }

  &-status {
    min-width: 83px;
    max-width: 150px;
  }

  &-statusDesc {
    min-width: 122px;
    max-width: 150px;
  }

  &-process {
    min-width: 66px;
    max-width: 150px;
  }

  &-desc {
    min-width: 97px;
    max-width: 150px;
  }

  &-creationDate {
    min-width: 125px;
    max-width: 150px;
  }

  &-reason {
    min-width: 87px;
    max-width: 150px;
  }

  &-word150 {
    min-width: 50px;
    max-width: 150px;
  }
}

/* fixed minimum height table */
.minimumSizeTable {
  margin-top: 10px;
  min-height: 220px;
}

.organitionNameColumn {
  width: 100px;
}

.userTablePanel {
  margin-top: 15px;
}

.groupTableTitle th img {
  margin-right: 5px;
}

.userGroupsLabel {
  width: 300px;
  display: inline-block;
}

#paymentOptionListForm .tablePanel, #billingContactListForm .tablePanel, #triggerDefinitionListForm .tablePanel,
  #processListForm .tablePanel, #operationsListForm .tablePanel {
  max-height: 220px;
  overflow-y: auto;
  height: 220px;
}

.field.nonResizableElement {
  resize: none;
}

.sort-icons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.non-clickable-element {
  pointer-events: none;
}

.sort-command-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#subscriptionService.subscriptionServiceDetailsBlock {
  display: block;
  max-width: 80%;
}

.table-with-selectable-rows .rowOdd, .table-with-selectable-rows .rowEven {
  cursor: pointer;
}

.add-unit-to-subscription-dialog {
  width: 650px;
  padding: 10px;
}

.add-unit-to-subscription-dialog table.rf-dt {
  width: 100%;
  margin-bottom: 20px;
}

.radio-outside-table {
  margin: 20px 0 10px 0;
  display: block;
}

.radio-outside-table input {
  float: left;
}

.radio-outside-table label {
  display: block;
  float: left;
  margin-left: 10px;
}

.add-unit-to-subscription-dialog .formHighlight td, .add-unit-to-subscription-dialog tr.formHighlight {
  background-color: transparent;
}

.add-unit-to-subscription-dialog td.content-column, #selectOwnerPanelForm td.content-column {
  padding-top: 8px;
}

#configurationForm .hintAndMessageTable td>span.rf-msg.errorMsg {
  float: left;
}

#configurationForm .hintAndMessageTable td {
  min-width: 50px;
}

.table-column-with-max-width {
  max-width: 80px !important;
}

.column-max-width {
  max-width: 200px !important;
}

.tableBottomMargin {
  margin-bottom: 20px;
}

div.responsive-table-panel {
  margin-top: 10px;
}

.assign-panel tr>td, .assign-panel tr>th {
  vertical-align: middle;
}

.visibleServiceTablePager td {
  padding-top: 0px;
}

.serviceTableColumnCheckBox {
  text-align: left;
}

.serviceTableTitle {
  padding-top: 8px;
}

.rich-filter-input {
  font-size: 12px;
  margin: 0 auto;
  color: #777;
  width: 85%;
  position: relative;
}

/* generic style to set top aligned content in various tables*/
.alignTop {
  vertical-align: top;
}

#subListForm .sub-table-image {
  width: 35px;
}