/* tag cloud list  */
.submenu ul {
  font-size: 93%;
  padding-bottom: 16px;
  padding-left: 0;
  width: 100%;
  margin: 0;
}

.submenu .tasks {
  background: $white;
}

.submenu {
  display: block;
  float: none;
  width: 184px;
  padding: 0 0 8px;
}

/* tag cloud tags outer wrapper */
.tagCloudOuter {
  padding: 8px;
}

/* tag cloud tags enclosed block wrapper */
.tagCloud {
  color: hsl(var(--oscm-main-font-color));
  text-decoration: none;
  background: none repeat scroll 0% 0% transparent;
  overflow: hidden;
  line-height: 1.3;
}

/* individual tag in tag cloud */
.tagCloud.tag {
  padding: 6px;
  color: hsl(var(--oscm-main-font-color));
  text-decoration: none;
  background: none;
}

.tagCloud.tag:hover {
  padding: 0.25rem;
  background: hsl(var(--oscm-primary));
  border-radius: 1rem;
  color: rgb(var(--oscm-white));
}

/* individual tag in tag cloud */
.tagCloud-selected {
  padding: 0.25rem;
  color: rgb(var(--oscm-white));
  background: hsl(var(--oscm-primary));
  text-decoration: none;
  border-radius: 1rem;
}

/* tag color definitions dependent on label size.
IE7 and other non-supporting browsers use the default color defined by  .tagCloud.tag */
.tagCloud.tag[style*="24"] {
  color: hsla(var(--oscm-main-font-color), 0.95);
}

.tagCloud.tag[style*="23"] {
  color: hsla(var(--oscm-main-font-color), 0.93);
}

.tagCloud.tag[style*="22"] {
  color: hsla(var(--oscm-main-font-color), 0.91);
}

.tagCloud.tag[style*="21"] {
  color: hsla(var(--oscm-main-font-color), 0.94);
}

.tagCloud.tag[style*="20"] {
  color: hsla(var(--oscm-main-font-color), 0.92);
}

.tagCloud.tag[style*="19"] {
  color: hsla(var(--oscm-main-font-color), 0.95);
}

.tagCloud.tag[style*="18"] {
  color: hsla(var(--oscm-main-font-color), 0.93);
}

.tagCloud.tag[style*="17"] {
  color: hsla(var(--oscm-main-font-color), 0.91);
}

.tagCloud.tag[style*="16"] {
  color: hsla(var(--oscm-main-font-color), 0.94);
}

.tagCloud.tag[style*="15"] {
  color: hsla(var(--oscm-main-font-color), 0.92);
}

.tagCloud.tag[style*="14"] {
  color: hsla(var(--oscm-main-font-color), 0.95);
}

.tagCloud.tag[style*="13"] {
  color: hsla(var(--oscm-main-font-color), 0.93);
}

.tagCloud.tag[style*="12"] {
  color: hsla(var(--oscm-main-font-color), 0.91);
}

.tagCloud .tag:hover {
  font-size: 8px;
  color: rgb(var(--oscm-white));
  text-decoration: underline;
}
