$white: #fff;

$primary-color: green;
$secondary-color: #6bdb84;
$warning-color: red;
$interior-color: #fff;

$color_bombay_approx: #b3b7bc;
$color_dorado_approx: #4c4c4c;

$color_silver_approx: #c6c6c6;

