$white: #fff;
$black: #000;
$gray: #ddd;

$primary-color: green;
$secondary-color: #6bdb84;
$warning-color: red;
$interior-color: #fff;

$light_gray: #f2f2f2;
$color_bombay_approx: #b3b7bc;
//$color_dorado_approx: #4c4c4c;

$color_silver_approx: #c6c6c6;

//colors
$color_alto_approx: #d2d2d2;
$color_everglade_approx: #1d4d33;
$red: red;
$color_silver_approx: #c6c6c6;
$color_fiord_approx: #456;
$white: #fff;
$color_red_approx: #ee0101;
$color_nevada_approx: #5e6d7b;
$color_cardinal_approx: #cb243f;
$color_gold_tips_approx: #e7b51d;
$color_fern_approx: #73b573;
$black: #000000;
$color_iron_approx: #cfd4d9;
$color_mine_shaft_approx: #333;
$color_slate_gray_approx: #7e8795;
$color_bombay_approx: #b3b7bc;
$color_dorado_approx: #555555;
$boulder: #7a7a7a;
$color_gallery_approx: #eee;
$color_link_water_approx: #ccdcee;
$color_half_and_half_approx: #ffffdd;
$color_alabaster_approx: #f8f8f8;
$color_nobel_approx: #b8b8b8;
$color_dove_gray_approx: #666;
$color_silver_chalice_approx: #aaa;
$color_boulder_approx: #777;
$color_japanese_laurel_approx: green;
$concrete: #f2f2f2;
$color_bright_red_approx: #a00000;
$color_river_bed_approx: #484d52;
$color_martini_approx: #999;
$color_wild_sand_approx: #f7f7f7;
$color_pale_sky_approx: #677683;
$color_rolling_stone_approx: #6b7a85;
$color_dorado_approx: #555555;
$color_blush_pink_approx: #f8f;
$color_hit_gray_approx: #aeb6bd;
$mercury: #e5e5e5;
$color_big_stone_approx: #234;
$color_athens_gray_approx: #f5f6f7;
$color_mercury_approx: #e8e8e8;
$color_loblolly_approx: #c6ccd1;
$wild_sand: #f4f4f4;
$color_gray_chateau_approx: #a7acb1;

