$white: #fff;
$black: #000;
$almost_black: #222;
$gray: #ddd;
$red: red;


$primary-color: green;
$secondary-color: #6bdb84;
$warning-color: red;
$interior-color: #fff;

// Messages colors.
$success_bg_color: #73B573;

$color_gold_tips_approx: #e7b51d;
$warning_bg_color: $color_gold_tips_approx;

$color_cardinal_approx: #cb243f;
$error_bg_color: $color_cardinal_approx;

$suspended_bg_color: #5E6D7B;




// Colors
$color_alto_approx: #d2d2d2;
$color_everglade_approx: #1d4d33;


$color_silver_approx: #ccc;
$color_darker_silver_approx: #c8c8c8;

$color_fiord_approx: #456;
$color_darker_fiord_approx: #44556a;


$color_red_approx: #ee0101;


$color_slate_gray_approx: #7e8795;

$color_gallery_approx: #eee;

$color_link_water_approx: #ccdcee;

$color_half_and_half_approx: $color_half_and_half_approx;
$color_alabaster_approx: #f8f8f8;
$color_nobel_approx: #b8b8b8;

$color_silver_chalice_approx: #aaa;

$color_tundora_approx: #444;
$color_dove_gray_approx: #666;
$color_boulder_approx: #777;
$color_dusty_gray_approx: #999;


$color_emperor_approx: #4f4f4f;


$color_bright_red_approx: #a00000;
$color_river_bed_approx: #484d52;



$color_wild_sand_approx: #f7f7f7;
$color_pale_sky_approx: #677683;

$color_rolling_stone_approx: #728089;
$color_mine_shaft_approx: #333;


$color_blush_pink_approx: #f8f;
$color_hit_gray_approx: #aeb6bd;

$color_big_stone_approx: #234;
$color_porcelain_approx: #f5f6f7;
$color_athens_gray_approx: #e9ecef;
$color_light_athens_gray_approx: #f8f9fa;
$color_mercury_approx: #e5e5e5;

$color_loblolly_approx: #c6ccd1;

$color_gray_chateau_approx: #a7acb1;
