/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
4. Content Boxes
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
4.1 Content Boxes
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.box {
  background: $color_alabaster_approx;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid $white;
  
  input, select, textarea {
     background: $white;
  }
  
  .right {
     height: 100%;
  }
}



.box div.col5span {
  width: 958px;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*box */
.box div.col4span {
  width: 759px;
  float: left;
  margin-right: 15px;
}

.box div.col3span {
  width: 571px;
  float: left;
  margin-right: 15px;
}

.box div.col1span {
  width: 173px;
  float: left;
  margin-right: 15px;
}

.box div.lastcol {
  margin-right: 0;
}

/* service icon / logo background bootstrap */
.box-logo {
  text-align: center;
  height: 80px;
  width: 80px;
}

.serviceBox2span .box_logo {
  margin: 30px 0 25px; /*was a problem o nother pages than homepage*/
}

/* positioning of icon/logo for services  */
.box_image {
  margin: 15px auto;
  width: 80px;
  height: 80px;
  border: 1px;
  border-color: $color_gallery_approx;
}

.box_tab_content {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 10px;
}

 .box_content {
  width: 450px;
  border: 0;
  border-right: 1px;
  border-color: $color_nobel_approx;
  border-style: solid;
} 

/* main title within content box */
.box_title {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16pt;
  text-overflow: ellipsis;
}

.serviceBox2span .box_title {
  margin-left: -100px;
}

/* title on home page requires two columns */
.col2span .box_title, .landing .box_title {
  width: 166%;
  margin-left: -58%;
  @include box-sizing(border-box);
  padding: 0px;
  text-overflow: ellipsis;
  word-wrap: normal;
}

/* sets spacing for subheaders within content boxes*/
.box h3 {
  margin-bottom: 0.87em;
}

/*  initialize scrolling on horizontal scrollable content */
.box_horizontalScroll {
  padding: 0;
  background: $white;
}

.box div.box_horizontalScroll.horizontalScrollAuto {
  overflow-x: hidden; /* was auto before */
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

/* block wrapper for  titles within content boxes */
div.box div.step {
  display: inline;
}

/* content area within a tabbed block */
.rich-tabpanel-content {
  background-color: $white;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

/* width of tab panel content - 4 columns */
.rich-tabpanel-content div.col4span {
  width: 735px;
  margin: 0;
}

/* row space between tab sections */
.rich-tabpanel-content div.rowspacer {
  margin: 5px 5px 5px 0;
}