/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.5 Footer
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

.bootstrap_footer {
  background: $color_bombay_approx;
  border-bottom: 1px solid $color_dorado_approx;
  width: 100%;
  color: $white;
  position: absolute;
  bottom: 0px;

  a {
    color: $white;
  }

  ul {
    font-size: 93%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin: 0;
    margin-left: 16px;
  }
}