.stage {
  width: 100%;
  min-width: 980px;
}

#marketplaceStageDefault {
  background: $transparent_pixel no-repeat;
  width: 100%;
}

.bodyarea {
  position: relative;
  width: 980px;
  margin: auto;
  padding-bottom: 60px;
  text-align: left;
  z-index: 900;

  &:after {
    content: ".";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

* html .bodyarea {
  display: inline-block;
}

div {
  &.col1span, &.col2span, &.col3span, &.col4span {
    float: left;
    margin-right: 9px;
  }

  &.lastcol {
    margin-right: 0;
  }

  &.marginCenter {
    margin-left: 2px;
    margin-right: 2px;
  }

  &.firstcol {
    margin-left: 0;
  }
}

.maincontents {
  div.lastcol {
    margin-right: 0;
  }

  float: left;
  width: 582px;
}

body {
  &.body4span .maincontents {
    width: 781px;
  }

  &.body5span .maincontents {
    width: 980px;
    float: none;
  }
}

.contentsarea {
  float: right;
  width: 781px;
}

body {
  &.body4span .contentsarea {
    width: 781px;
  }

  &.body5span .contentsarea {
    width: 980px;
    float: none;
  }
}

div {
  &.grid2span {
    width: 383px;
  }

  &.grid3span {
    width: 582px;
  }

  &.grid4span {
    width: 781px;
  }

  &.grid5span {
    width: 980px;
  }

  &.col1span {
    width: 184px;
  }

  &.col2span {
    width: 386px;
  }

  &.col3span {
    width: 582px;
  }

  &.col4span {
    width: 781px;
  }
}

.marginBottomDefault {
  margin: 0 0 30px;
}

*:first-child + html .grid4span + .pagenate {
  margin: 16px 0 0;
}

#contentPanelDiv.landing .contentsarea {
  width: 100%;
  float: none;

  .maincontents, .grid4span {
    width: 100%;
  }
}