/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.2 Main Search Box
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
input#Search, #subListForm\:search {
  font-size: 108%;
  border: none;
  width: 200px;
  height: 1.2em;
  margin: 3px 0;
  color: $color_slate_gray_approx;
  padding: 2px 3px 2px 3px;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  width: 200px;
}

input#Search:focus, #subListForm\:search:focus {
  color: $color_mine_shaft_approx;
}

input#inputSearch {
    width: 86%;
}

/* search field wrapper*/

#subListForm\:subscriptionSearch {
  float: right;
  border-style: none;
  width: 270px;
  height: 34px;
  margin: 0;
  padding: 0;
  background: $search_bg no-repeat top right;
  text-align: right;
}

#subListForm\:subscriptionSearch>span>div {
  display: block;
  margin: 0;
  padding: 0 0 0 15px;
  overflow: hidden;
  line-height: 0;
}

#subListForm\:subscriptionSearch>span {
  float: left;
  width: inherit;
}

#subListForm\:subscriptionSearch>span>div {
  float: left;
}

#subListForm\:submitLink {
  float: right !important;
}

#subListForm\:search {
  width: 220px;
}

/*search button image*/
.searchButton {
  background: transparent $mp_icon_sprite 0 -330px no-repeat !important;
  border: 0;
  cursor: pointer;
  height: 26px;
  width: 27px;
  margin: 2px 1px;
}