html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 81.25% !important; /* 13px */
  font-family: $font-family-sans-serif;
  margin: 0px;
  position: relative;
  text-align: left;
  line-height: 1.4;
}

textarea, input, option, select, .rich-tabpanel-content {
  font-size: 100%;
  font-family: $font-family-sans-serif;
}

input, select, textarea {
  border: 1px solid $color_silver_approx;
}

textarea {
  resize: vertical;
}

.rich-tab-header {
  font: normal 14px/100% $font-family-semibold !important;
}

* html table {
  font-size: 100%;
}

*:first-child+html body {
  letter-spacing: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:link {
    color: $color_fiord_approx;
  }
  &:visited {
    color: $color_fiord_approx;
  }
  &:active {
    color: $color_silver_approx;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
 /* font: normal 100% "OpenSansRegular", Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif; */
  line-height: $line-height-base; 
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4, h5, h6 {
  font-size: $h4-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1.75em;
  padding: 0;
  line-height: 1.5;
}

ul {
  margin-top: 0;
  margin-bottom: 1.75em;
  margin-left: 0;
  padding: 0 0 0 2.8em;
}

li {
  margin-top: 0;
  margin-bottom: 0.75em;
  margin-left: 0;
  padding: 0;
  line-height: 1.3;
}

li ul {
  margin-top: 0;
  margin-bottom: 0em;
  padding-top: 0.75em;
}

dl {
  margin-bottom: 1.75em;
}

*:first-child+html dl {
  zoom: 1;
}

dt {
  line-height: 1.75;
}

form {
  margin: 0;
  padding: 0;
}

textarea {
  margin: 0 0 1.75em;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: middle;
}

table {
  margin: 0;
}

table td {
  vertical-align: top;
  border-collapse: collapse;
  word-break: normal;
  border-spacing: 0;
}

table td, div {
  word-wrap: break-word;
  word-break: normal;
}

.maincontents textarea {
  padding: 4px;
}

.mandatory, .discount {
  color: $color_red_approx;
}

.upLabel {
  vertical-align: super;
  font-size: 8pt;
}

.contentsarea .error, .contentsarea .warning, .contentsarea .success, .contentsarea .suspended {
  margin-top: 0;
}

.contentsarea .configurationWarning .warning {
  margin-top: 35px;
}

.right {
  float: right;
}

.discount {
  display: block;
  margin: 0 0 8px 0;
}

.suspendedNotMessage {
  padding: 1px 15px 1px 15px !important;
}

/* prewrapping definitions for various standards/browsers */
.preWrapping {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.label {
  white-space: nowrap;
  min-width: 100px;
}

.left {
  float: left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.clearfix.block {
  margin: 0;
  position: relative;
}

.nowrap_hidden {
  -moz-binding: url(/ellipsis-xbl#ellipsis);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
}

.pixelline {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0 0 10px;
  background: transparent $mp_icon_sprite 0 -381px repeat-x;
}

/* Shortened text with ... */
.shortenedText {
  overflow: hidden;
  word-wrap: normal;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsizedOutputLabel {
  max-width: 120px;
}
