$enable-dark-theme: false;
$dark-lighter: #343a40;
$dark-lightest: #495057;
$light: #e9ecef;
$theme_bg_color: if($enable-dark-theme, $dark-lighter, $white);
$theme_text_color: if($enable-dark-theme, $light, $almost_black);
$supplier_text_color:  if($enable-dark-theme, $light, $color_river_bed_approx);
$theme_table_bg_color: if($enable-dark-theme, $dark-lighter, $white);
$theme_table_border_color: if($enable-dark-theme, darken($dark-lighter, 7%), $color_alto_approx);
$theme_table_hover_color: if($enable-dark-theme, lighten($dark-lightest, 30%), $color_river_bed_approx);