@charset "UTF-8";

@import "toggled_theme_vars";

$primary-color: green;
$secondary-color: #6bdb84;
$warning-color: red;
$interior-color: #fff;

$bold-font-weight: bold;
$font-family-sans-serif: "OpenSansRegular", Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif;
$font-family-semibold: "OpenSansSemiBold", Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif;
$font-family-arial: Arial, sans-serif;
$font-family-times: "Times New Roman", Times, Serif;

$h1-font-size: 163% !default;
$h2-font-size: 133% !default;
$h3-font-size: 108% !default;
$h4-font-size: 100% !default;

$line-height-base: 1.5;