@charset "UTF-8";

@import "../customBootstrap/scss/basic/colors";

$primary-color: rgb(var(--oscm-primary));
$secondary-color: rgb(var(--oscm-primary));
$warning-color: red;
$interior-color: rgb(var(--oscm-white));
$main-color: rgb(var(--oscm-main));

$dark-lighter: #343a40;
$dark-lightest: #495057;
$light: #e9ecef;
$theme_bg_color: var(--oscm-main-color-800);
$theme_text_color: var(--oscm-text-color);
$theme_border_color: var(--oscm-border-color);
$supplier_text_color:  var(--oscm-text-color);
$theme_table_bg_color: var(--oscm-table-bg-color);
$theme_table_border_color: var(--oscm-table-border-color);
$theme_table_background_color: var(--oscm-table-background-color);
$theme_table_hover_color: var(--oscm-table-hover-color);
$theme_table_row_even_color: var(--oscm-table-row-even-color);
$theme_table_row_odd_color: var(--oscm-table-row-odd-color);
$theme_subscription_status_hover_color: var(--oscm-main-color-700);

$bold-font-weight: bold;
$font-family-sans-serif: "OpenSansRegular", Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif;
$font-family-semibold: "OpenSansSemiBold", Arial, Verdana, "Lucida Grande", 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif;
$font-family-arial: Arial, sans-serif;
$font-family-times: "Times New Roman", Times, Serif;

$h1-font-size: 163% !default;
$h2-font-size: 133% !default;
$h3-font-size: 108% !default;
$h4-font-size: 100% !default;

$line-height-base: 1.5;