/* 
 *  Copyright FUJITSU LIMITED 2020
 */

 //  ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
 // Please refer to the Marketplace Customization Guide at
 // https://github.com/servicecatalog/oscm/blob/master/oscm-portal/WebContent/marketplace/customBootstrap/README.md
 // for a detailed description of how to use this.
 //  ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

@charset "utf-8";
@import "../scss/basic/colors";

@import "variables";
@import "../scss/basic/image_urls";
@import "../scss/basic/mixins";

/*
	Contents

  1. Font Definitions

  2. Standard Elements
 
  3. Page Layout
    3.1 Main Layout
    3.2 Messages
    3.3 Main Search Box
    3.4 Login

  4. Content boxes
    4.1 Service Content Boxes
     4.1.1 Service Section
     4.1.2 Service Header
    4.2 Additional utility classes
    
  5. Page Elements
    5.1 Page Title
    5.2 Panels
     5.2.1 Input panels
     5.2.2 Modal Panels
    5.3 Pager

  6. Content Details
    6.1 Popup Panels
    6.2 Product Review
    6.3 Star Ratings
    6.4 Price Model
    6.5 Supplier
    6.6 Subscriptions
    6.7 Subscription Confirmation Information Box
    6.8 Recommended Price Information Box

  7. Navigation
    7.1 Related Services Sidebar
    7.2 Service Overview Navigation
    7.3 Page Jump Navigation
  
  8. Progress Bar

  9. UI Graphics

  10. UI Components
    10.1 Buttons
     10.1.1 Regular Navigation Buttons
     10.1.2 Big Buttons
     10.1.3 Link Buttons
     10.1.4 Buttons image
     10.1.5 Browse buttons
    10.2 Forms
     10.2.1 Form Hints
     10.2.2 Registration form
     10.2.3 Trigger form
    10.3 Tag Cloud Navigation
    10.4 Pagination
     10.4.1 Pagina & Services Per Page Buttons
     10.4.2 Pagina Next / Previous Buttons
    10.5 Tables
    10.6 Labels

  11. Overwriting Richfaces
*/

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
1. Font Definitions
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */
@import "../scss/basic/typography";

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
2. Standard Elements
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */
@import "../scss/basic/main";
/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
3. Page Layout
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.1 Main Layout
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/layout";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.2 Messages
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/messages";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.3 Main Search Box
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/mainSearch";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
3.4 Login
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/login";

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
4. Content Boxes
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */
@import "../scss/basic/contentBox";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
4.1 Service Content Boxes
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/serviceContentBox";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
4.2 Additional utility classes
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/basic/utilities";

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
5. Page Elements
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
5.1 Page Title
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* title displayed between breadcrumbs and content boxes */
.contentstitle {
  font-size: 16px;
  margin-bottom: 10px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
5.2 Panels
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* align footer to page bottom by minimal distance to start of content panel
   (Note: We set it to page bottom, not to screen bottom. We don't want sticky footers as they reduce the visible content area)
*/
#contentPanelDiv {
  min-height: calc(100vh - 3.04rem);
}

/* marketplace copyright information wrapper */
#creditline {
  float: right;
  line-height: 0;
  width: auto;
}

/* marketplace copyright information */
#creditline p {
  margin: 0;
  padding: 0;
  font-size: 93%;
  line-height: 1.3;
  text-align: right;
  white-space: nowrap;
}

#providerTitle, #brokerTitle, #resellerTitle {
  line-height: 2;
  padding-top: 10px;
  border-left: 5px solid $color_gold_tips_approx;
  padding: 2px 0 1px 4px;
  font-size: 150%;
  font-weight: bold;
}

#supplierName, #brokerName {
  padding: 2px 0 1px 10px;
}

.subscrOwner td {
  vertical-align: bottom;
}

.subscrOwner {
  position: relative;
  width: 290px;
}

.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subscrOwnerName {
  width: 100px;
}

.stringInMultiLine {
  width: 99%;
  word-break: break-all;
  word-wrap: break-word;
}

.groupDescription {
  width: 210px;
  word-wrap: normal;
}

.subscrOwnerRadio {
  position: relative;
  white-space: nowrap;
}

.subscrOwnerButton {
  float: right;
}

*+.specialPanelGridforUda {
  margin: 0 !important;
  padding: 0 !important;
}

.clippedOutputLabel {
  width: 220px;
}

.groupName {
  max-width: 222px;
}

.serviceListPanel {
  width: 550px;
}

.serviceTableSelectAllCheckBox {
  text-align: left;
}

#subscriptionDetailsPanel {
  width: 100%;
}

#filterUserNum {
  width: 85% !important;
  margin: 2px 0 2px 0 !important;
}

#configurationForm div.hint, #configurationForm .hint-panel, #configurationForm .hintAndMessageTable div {
  margin-left: 20px !important;
}

#configurationForm .subscrOwnerName.clipped {
  width: 280px;
}

.roles-list {
  width: 100%;
}

.preserveWhitespaces {
  white-space: pre-wrap;
}

.assign-panel .input-filter-icon {
  height: 12px !important;
  top: 3px !important;
}

#editUserForm .user-groups-table-panel {
  margin-bottom: 20px;
}

.button-panel-with-padding {
  padding-bottom: 25px;
}

#organizationUnitPanelGrid {
  padding: 10px;
}

#loading {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 1;
  width: 280px;
  margin: -75px 0 0 -75px;
  padding: 8px 16px;
  border-radius: 5px;
  font: 20px 'Helvetica';
  text-transform: uppercase;
}

.cat-item {
  margin: -2px 0px 0px 0px;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-size: 0.8rem;
  vertical-align: middle !important;
  text-align: center;
}

/* ---- 5.2.1 Input panels	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
.div-for-input {
  width: 85%;
  position: relative;
  background-color: $white;
  height: 16px;
  padding: 1px 2px 3px 2px !important;
  border: solid 1px $color_silver_approx;
  margin-top: 2px;
  display: block;
}

.div-for-input input.rich-filter-input {
  background-color: transparent;
  border: none;
  border-right: 17px solid transparent !important;
  @include box-sizing(border-box);
  outline: none;
  margin: 0px !important;
  width: 100% !important;
}

.input-filter-icon {
  position: absolute;
  display: block;
  right: 0px;
  top: 6px;
  margin-right: 3px !important;
}

form .formHighlight div.div-for-input {
  border: 1px solid $color_gold_tips_approx;
}

#subListForm .input-filter-icon {
  top: 2px;
}

.subscrOwnerRadio  input {
  border-style: none;
  background-color: rgb(244, 244, 244);
  width: 20px;
}

/* ---- 5.2.2 Modal panels	---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */
/* close button on modal panel */
.closeButton {
  float: right;
  background: transparent $mp_icon_sprite -29px -330px no-repeat;
  border: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

#userForm .warning {
  margin-top: 16px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
5.3 Pager
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.buttonImg.smallExecute {
  display: none;
}

.pager {
  width: 100%;
  text-align: right;
  color: $color_dove_gray_approx;
  font-weight: 300;
}

.pager span, .pager a {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
}

.pager a:hover, .pager span:hover {
  background: none;
  border: none;
}

.pager .pageInput {
  width: 50px;
  height: 14px;
  text-align: right;
  vertical-align: middle;
  line-height: 20px;
  font-size: 11px;
}

.pager .divider {
  color: $color_silver_chalice_approx;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0 5px;
  vertical-align: middle;
}

.pager .rf-ds {
  background: inherit !important;
}

.pager .rf-ds-btn {
  min-width: 0;
  padding: 0 0 7px 0;
  height: 15px;
  text-align: center;
}

.pager .button span {
  height: 24px;
  background-position: right 0px;
  padding: 1px 4px 0px 0px;
  line-height: 20px;
}

.pager .button, .pager .button span {
  background: $mp_button_sprite_thin no-repeat;
}

.pager .button {
  background-position: left 0;
  float: right;
  margin: 2px 5px 0;
  min-width: 0;
  height: 24px;
}

.pager .button:hover {
  background: $mp_button_sprite_thin no-repeat scroll 0% 0% transparent;
  background-position: left -26px;
  text-decoration: none;
}

.pager .button span {
  height: 24px;
  background-position: right 0;
  padding: 1px 4px 0 0px;
  line-height: 20px;
}

.pager .button:hover span {
  background-position: right -26px;
}

.pager td {
  vertical-align: middle;
}

.arrow_start, .arrow_start_disabled, .arrow_back, .arrow_back_disabled, .arrow_next, .arrow_next_disabled, .arrow_last,
  .arrow_last_disabled {
  background: $pager_arrows no-repeat;
  width: 15px;
  height: 15px;
  margin-bottom: 0;
}

.arrow_start:hover, .arrow_back:hover, .arrow_next:hover, .arrow_last:hover {
  background-color: $color_silver_approx;
  border-radius: 2px;
}

.arrow_start {
  background-position: 3px 3px;
}

.arrow_start_disabled {
  background-position: -13px 3px;
}

.arrow_back {
  background-position: 3px -25px;
}

.arrow_back_disabled {
  background-position: -13px -25px;
}

.arrow_next {
  background-position: 3px -39px;
}

.arrow_next_disabled {
  background-position: -13px -39px;
}

.arrow_last {
  background-position: 3px -11px;
}

.arrow_last_disabled {
  background-position: -13px -11px;
}

.d-flow-root {
  display: flow-root !important;
}

/*
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6. Content Details
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.1 Popup Panels
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.smallPanel {
  width: 560px;
}

table.smallPanel {
  margin-bottom: 15px;
}

.smallPanel textarea {
  margin: 0;
}

.smallPanelCol1 {
  width: 180px;
  padding: 5px 0 5px 0;
  vertical-align: middle;
}

.labelOnTop {
  padding-top: 8px !important;
  vertical-align: top ! important;
}

.smallPanelCol2 {
  width: 230px;
  padding: 5px 0 5px 4px;
  vertical-align: middle;
}

.smallPanelCol2 textarea {
  width: 200px;
}

.smallPanelCol2 input {
  width: 200px;
}

.smallPanelCol2 select {
  width: 206px;
}

.smallPanelCol2ForTriggerDefinition textarea {
  width: 240px;
}

.smallPanelCol2ForTriggerDefinition input {
  width: 240px;
}

.smallPanelCol2ForTriggerDefinition select {
  width: 246px;
}

.smallPanelCol2ForReportIssue {
  width: 360px;
  padding: 5px 0 5px 4px;
  vertical-align: middle;
}

.smallPanelCol2ForReportIssue textarea {
  width: 350px;
}

.smallPanelCol2ForReportIssue input {
  width: 350px;
}

.smallPanelCol2ForReportIssue select {
  width: 350px;
}

.smallPanelCol3 {
  width: 180px;
  padding: 5px;
}

.columnSmallPanelBreakWord td {
  max-width: 200px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.2 Product Review
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.reviewComment {
  margin-bottom: 1.75em;
  line-height: 1.75;
  font-family: $font-family-arial;
  font-size: 13px;
}

.review_comments {
  width: 98%;
  height: 120px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 0;
  background-color: $light_gray;
  resize: none;
}

.review_title {
  width: 98%;
  margin-left: 0;
  background-color: $light_gray;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.3 Star Ratings
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* star rating  wrapper for editable stars */
#starParent {
  position: relative;
  width: 75px;
  height: 18px;
}

/* star rating wrapper */
.serviceStarBox {
  padding: 3px 6px 5px;
  width: 102px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* star rating wrapper on home page*/
.listingStarBox .serviceStarBox {
  padding: 3px 6px 5px;
  margin: -30px 0 33px;
  width: 100%;
  @include box-sizing(border-box);
}

/** Styling for bootstrap star box **/
.cardStarBox {
  margin-left: 15px;
  display: inline-flex;
  margin: 2px 0 0 0;
  @include box-sizing(border-box);
  padding-top: 20px;
}

.cardStarBox .serviceStarBox {
  padding: 3px 6px 5px;
  width: 100%;
  @include box-sizing(border-box);
}

.cardStarBox .serviceStarBox .ratingStars {
  display: inline-block;
  vertical-align: middle;
}

/* define rating star sprite */
.ratingStars {
  background: $rating_stars_url no-repeat;
}

/* rating star sizing */
.ratingStarsDisabled, .ratingStars {
  height: 18px;
  width: 100px !important;
}

/* position of rollover divs for editable rating stars */
.rating img {
  cursor: pointer;
  width: 20px;
  height: 18px;
  border: 0;
  margin: 0;
}

.rating {
  top: 0;
  position: absolute !important;
  width: 20px;
}

.rating1 {
  left: 0;
}

.rating2 {
  left: 20px;
}

.rating3 {
  left: 40px;
}

.rating4 {
  left: 60px;
}

.rating5 {
  left: 80px;
}

/* text shown next to the editable rating stars*/
#ratingText {
  margin: 5px 0 0 150px;
}

.ratingTextNormal {
  color: $black;
}

.ratingTextWarning {
  color: $color_bright_red_approx;
}

/* star rating sprite position details
	sprite definition in .ratingStars
*/
.rating0_0 {
  background-position: -1px -36px !important;
}

.rating1_0 {
  background-position: -81px 0 !important;
}

.rating1_5 {
  background-position: -81px -18px !important;
}

.rating2_0 {
  background-position: -61px 0 !important;
}

.rating2_5 {
  background-position: -61px -18px !important;
}

.rating3_0 {
  background-position: -41px 0 !important;
}

.rating3_5 {
  background-position: -41px -18px !important;
}

.rating4_0 {
  background-position: -21px 0 !important;
}

.rating4_5 {
  background-position: -21px -18px !important;
}

.rating5_0 {
  background-position: -1px 0 !important;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.4 Price Model
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* price model subtext e.g. "(all prices excl. VAT)" */
.priceSubtext {
  float: left;
  margin: 8px 0 0 10px;
  font-size: 100%;
}

#tabPriceModel .step {
  margin-top: 30px;
}

#configurationForm2 div.step {
  display: inline;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.5 Supplier
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* supplier/organization display line */
.supplier {
  color: $supplier_text_color;
  font: italic 400 110% $font-family-times;
  white-space: nowrap;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.6 Subscriptions
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.parameterConfigTable, .tableParameter {
  width: 100%;
}

.parameterConfigTableDescColumn {
  width: 40%;
}

.parameterValueContainer {
  white-space: nowrap;
}

/* current subscriptton status wrapper (ready/error/pending)*/
.subscriptionStatus:hover {
    color: color-yiq($theme_table_hover_color);
}

/* show for subscription errors */
.subscriptionError {
  background: transparent $mp_icon_sprite no-repeat 0 -579px;
  color: $color_cardinal_approx;
  height: 17px;
  width: 20px;
}

/* show for subscription active/ready */
.subscriptionActive, .serverSubscriptionActive {
  background: transparent $mp_icon_sprite no-repeat 0 -655px;
  color: $color_dusty_gray_approx;
}

td:hover .subscriptionStatus {
  color: $theme_subscription_status_hover_color;
}
td:hover .subscriptionPending, td:hover .serverSubscriptionSuspended, td:hover .subscriptionWaitingForApproval, td:hover .subscriptionPendingUpd {
  color: $theme_subscription_status_hover_color;
}

/* show for subscription suspended/pending/waiting_for_approval/pending_update */
.subscriptionPending, .serverSubscriptionSuspended, .subscriptionWaitingForApproval, .subscriptionPendingUpd {
  background: transparent $mp_icon_sprite no-repeat scroll 0 -731px;
  color: $color_dusty_gray_approx;
}

td:hover .subscriptionPending, td:hover .serverSubscriptionSuspended, td:hover .subscriptionWaitingForApproval, td:hover .subscriptionPendingUpd {
  color: color-yiq($theme_table_hover_color) !important;
}
.provisioningProgress {
  margin-top: 10px;
  background: transparent $info no-repeat;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.7 Subscription Confirmation Information Box
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* wrapper for user entered content  display
	upon subscription confirmation  */
.infoArea {
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: $color_gallery_approx;
  border: 1px solid $gray;
  text-align: left;
  margin: 0;
  padding: 10px 10px;
}

.dialogTitleWidth {
  width: 200px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
6.8  Recommended Price Information Box
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* wrapper for user entered content  display
	upon subscription confirmation  */
.recommendedPrice {
  clear: both;
  display: block;
  color: $black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
}

.recommendedPriceHint {
  vertical-align: super;
  font-size: 10px;
}

/*
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
7. Navigation
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
		7.1 Related Services Sidebar
		-	each individual item is styled with the menubox tag
		---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* service names and tags */
.relatedServiceName, .relatedServicePrice {
  padding: 4px 8px !important;
  white-space: normal;
}

.relatedServiceName {
  color: $black !important;
}

.relatedServicePrice {
  font-weight: 400;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
7.2 Service Overview Navigation
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* description tags*/
.serviceTags {
  position: relative;
}

.serviceTags form {
  position: relative;
  text-overflow: ellipsis
}

/* service tag block on home page */
.col2span  .serviceTags {
  position: absolute !important;
  width: 350px !important;
  left: 0px;
  top: 0px;
}

/* service tag appearance */
.serviceTags a {
  color: $color_big_stone_approx;
  overflow: hidden;
  font: 400 14px/1.5 "OpenSansRegular", Arial, Verdana, "Lucida Grande", sans-serif;
}

.serviceRating {
  line-height: 1.75;
  text-align: left;
  color: $color_silver_chalice_approx;
  font-size: 13px;
  font-weight: 400;
}

/* spacer for disabled rating*/
.serviceRatingDisabled {
  height: 49px;
}

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
7.3 Page Jump Navigation
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/*  bottom of content  link button navigation wrapper */
div.scrolltop {
  clear: both;
  border-style: none;
  margin: 0;
  padding: 4px 0 6px;
}

div.scrolltop p {
  display: block;
  overflow: visible;
  border-style: none;
  padding: 0;
  text-align: right;
  font-size: 93%;
  line-height: 1em;
  margin-bottom: 1em;
}

div.scrolltop p img {
  margin-left: 5px;
  border: none;
}

/* "top of page" link button */
#linkPageTop {
  float: right;
  background: transparent $mp_icon_sprite right -400px no-repeat;
  padding-right: 20px;
  height: 16px;
}

/* "browse all services" link button on home page */
#linkBrowseAll {
  float: left;
  background: transparent $mp_icon_sprite left -384px no-repeat;
  padding-left: 20px;
  height: 16px;
}

.invisible-jumper {
  display: none;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
8 Progress Bar
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 */

/* wrapper for button arrays */
.buttonPanel {
  margin: 4px 0 3px 10px;
  position: relative;
}

/*  button spacing for button array buttons */
.bottomButtonPanel .button {
  margin: 0 10px 0 0 !important;
}

.assignUserButton {
  float: right;
  margin-bottom: 5px;
  margin-right: -5px;
}

.progressOverlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
  cursor: wait;
  background: $transparent_pixel no-repeat;
}

/* steps in stepped process */
.progress span {
  padding: 5px;
  border: 1px solid $white;
  color: $color_dove_gray_approx;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* current position in stepped process */
.progress .current {
  border: 1px solid $color_fiord_approx;
  background: $color_gold_tips_approx;
  color: $color_mine_shaft_approx;
}

/* arrow indicator for progress flow */
.progress img {
  width: 6px;
  height: 11px;
  margin: 0 4px;
  background: transparent $mp_icon_sprite -28px -437px repeat-x;
}

/*
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
9. UI Graphics
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */

/* deassign user from service */
.deassignButton {
  width: 19px;
  height: 19px;
  background: transparent $mp_icon_sprite -15px -360px no-repeat !important;
  border: 0;
  cursor: pointer;
}

/* edit entry e.g. user details */
.editPen {
  margin: 2px 2px 0px;
  background: transparent $mp_icon_sprite 2px -364px no-repeat !important;
  border: 0;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.deleteButton {
  width: 13px;
  height: 13px;
  background: transparent $cross 2px 1px no-repeat !important;
  border: 0;
  cursor: pointer;
  zoom: 1.5\9;
  padding: 1.5px;
  -ms-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
}

/* error icon on incorrect form input */
.messageMarkerError {
  background: $mp_icon_sprite 0 -263px no-repeat;
  margin: 0;
  width: 17px;
  height: 17px;
  margin: 2px 0 0 0;
}

/*  form input success */
.messageMarkerInfo {
  background: transparent $mp_icon_sprite -17px -263px no-repeat;
  margin: 0;
  width: 17px;
  height: 17px;
  margin: 2px 0 0 0;
}

.tick {
  background: transparent $mp_icon_sprite -44px -500px no-repeat;
  width: 15px;
  height: 15px;
}

/*
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10. UI Components
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
*/
/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.1 Buttons
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/components/buttons";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.2 Forms
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/components/forms";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.3 Tag Cloud Navigation
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/components/tagcloud";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.4 Pagination
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/components/paginaNavigation";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.5 Tables
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
@import "../scss/components/tables";

/* ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
10.6 Labels
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----  */
.label-and-unit-select .button, .label-and-unit-select .buttonDisabled {
  float: right;
  margin-right: 10px;
}

.label-with-pencil {
  width: 100%;
}

.label-with-pencil td {
  padding: 0;
}

.label-with-pencil div.label {
  margin-right: 20px;
}

.label div.long-label {
  max-width: 200px;
  white-space: pre-wrap;
  float: left;
}

.label div.long-label-wrapped {
  white-space: pre-wrap;
  max-width: 200px;
  float: left;
}

/*
 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
11. Overwriting Richfaces
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
*/

.body4span .rf-pp-shade, .body5span .rf-pp-shade {
  background-color: $color_mine_shaft_approx;
  opacity: 0.5;
}

.body4span .rf-pp-cntr, .body5span .rf-pp-cntr {
  box-shadow: 0px 1px 10px 2px $color_mine_shaft_approx;
  text-align: left;
}

.body4span .rf-pp-cntr, .body4span .rf-pp-cnt-scrlr, .body5span .rf-pp-cntr, .body5span .rf-pp-cnt-scrlr {
  border-radius: 4px;
}

.rf-dt-shdr .rf-dt-shdr-c, .rf-edt-hdr-c-cnt.rf-edt-c-srt {
  text-align: left;
  color: $theme_text_color;
  border-bottom-width: 0px;
  position: relative;
}

.rf-dt-flt .rf-dt-flt-c .rf-dt-flt-cnt {
  text-align: left;
}

thead.rf-dt-thd .rf-dt-shdr, thead.rf-dt-thd .rf-dt-hdr, .rf-edt-hdr tbody>tr {
  background: $rich_table_bg_repeat repeat-x;
}

thead .rf-dt-flt {
  background: $rich_table_bg_repeat 0px -19px;
}

.rf-dt-shdr-c.rf-dt-c-srt:HOVER {
  color: $color_dove_gray_approx;
}

.rf-dt-flt .rf-dt-flt-c {
  padding: 0px 4px 0px 4px;
}

.rf-dt-r:HOVER {
  background: $color_light_athens_gray_approx;
}

#editUserForm .rf-dt-r.rowEven:HOVER, #userForm .rf-dt-r.rowEven:HOVER, #paymentOptionListForm .rf-dt-r.rowEven:HOVER,
  #groupForm .rf-dt-r.rowEven:HOVER .rowEven:HOVER {
  background: $color_light_athens_gray_approx;
}

#editUserForm .rf-dt-r.rowOdd:HOVER, #userForm .rf-dt-r.rowOdd:HOVER, #paymentOptionListForm .rf-dt-r.rowOdd:HOVER,
  #groupForm .rf-dt-r.rowOdd:HOVER .rowOdd:HOVER {
  background: $white;
}

.rf-dt-flt-cnt .rf-dt-flt-i {
  width: 90%;
  background: $white $filter no-repeat right center !important;
  padding-right: 15px;
  color: $color_boulder_approx;
}

.rf-dt-srt.rf-dt-srt-btn {
  position: absolute;
  top: 2px;
  right: 0px;
}

.rf-dt-srt.rf-dt-srt-btn.rf-dt-srt-asc, .rf-edt-srt.rf-edt-srt-btn.rf-edt-srt-asc {
  background: transparent $mp_icon_sprite no-repeat scroll 0 -437px;
  width: 13px;
  height: 13px;
  margin: 4px 10px 0 0;
}

.rf-dt-srt.rf-dt-srt-btn.rf-dt-srt-des, .rf-edt-srt.rf-edt-srt-btn.rf-edt-srt-des {
  background: transparent $mp_icon_sprite no-repeat scroll -14px -437px;
  width: 15px;
  height: 15px;
  margin: 4px 10px 0 0;
}

.rf-dt-srt.rf-dt-srt-btn.rf-dt-srt-uns, .rf-edt-srt.rf-edt-srt-btn.rf-edt-srt-uns {
  background: transparent;
}

.rf-tab-cnt {
  position: relative;
}

#billingContactListForm tbody .rf-dt-r:HOVER, #triggerDefinitionListForm tbody .rf-dt-r:HOVER, #processListForm tbody .rf-dt-r:HOVER,
  #operationsListForm tbody .rf-dt-r:HOVER {
  background: $color_link_water_approx;
}

#paymentOptionListForm thead .rf-dt-shdr-c:HOVER, #billingContactListForm thead .rf-dt-shdr-c:HOVER, #processListForm thead .rf-dt-shdr-c:HOVER,
  #operationsListForm thead .rf-dt-shdr-c:HOVER, #triggerDefinitionListForm thead .rf-dt-shdr-c:HOVER {
  background: $rich_table_hover;
}

#paymentOptionListForm .rf-dt-c, #billingContactListForm .rf-dt-c, #triggerDefinitionListForm .rf-dt-c {
  max-width: 0px;
}

#paymentOptionListForm .rf-dt thead tr, #billingContactListForm .rf-dt thead tr, #triggerDefinitionListForm .rf-dt thead tr,
  #operationsListForm .rf-dt thead tr, #processListForm .rf-dt thead {
  height: 30px;
  border-bottom: solid 1px $color_darker_silver_approx;
}

.rf-dt thead {
  height: 30px;
}

tbody>tr.rf-dt-nd, tbody>tr.rf-dt-nd .rf-dt-nd-c {
  min-height: 30px;
  min-height: 30px;
  height: 30px;
}

.rf-dt-shdr th.rf-dt-shdr-c:HOVER {
  background: $rich_table_hover;
}

tr.rf-dt-shdr, tr.rf-dt-shdr:HOVER {
  border-bottom: solid 1px $color_darker_silver_approx;
}

.rf-dt-shdr-c input.rich-filter-input {
  margin: 3px 0 2px 0;
}

th.rf-dt-shdr-c {
  padding-top: 5px;
}

thead th.clickable-header {
  position: relative;
}

thead th.clickable-header:HOVER {
  background: $color_light_athens_gray_approx;
}

#triggerSubListForm  .rf-dt-shdr-c {
  background-clip: padding-box !important;
}

.assign-panel .rf-dt-shdr-c {
  background-image:
    url("/oscm-portal/org.richfaces.resources/rfRes/colHdrGrad.png?v=4.5.0.Final&db=eAFjZJBjZDBiZBBhYGBgAgADawBq&ln=org.richfaces.images")
    !important;
}